In [1]:
# Get data from internet
import requests

# Read HTML
from bs4 import BeautifulSoup

# Database connection
from sqlalchemy import create_engine

# Data Processing
import pandas as pd
import numpy as np

# Machine Learning
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import f_regression

# Visualization
%matplotlib inline

In [2]:
# Connect directly to Wikipedia and read the HTML source into memory
response = requests.get('https://en.wikipedia.org/w/index.php',
                        params={'title': 'List_of_countries_by_literacy_rate',
                                'oldid': 809221941})
html = response.content

# Parse the soup of HTML tags
soup = BeautifulSoup(html, 'lxml')
rows = soup.find('table', attrs={'class':'sortable wikitable'}).find_all('tr')

# Read the table row-by-row
# The first three rows are ignored
literacy = []
for row in rows[3:]:
    columns = row.find_all('td')
    
    name = columns[0].text.strip()
    try:
        overall = float(columns[1].text[:-1])
        male = float(columns[2].text[:-1])
        female = float(columns[3].text[:-1])
    except:
        overall = male = female = None
    
    literacy.append({'Country':name, 'overall literacy':overall, 
                     'male literacy':male, 'female literacy':female})
    
## Pandas DataFrame
literacy = pd.DataFrame.from_dict(literacy)
literacy.head()

       Country  overall literacy  male literacy  female literacy
0  Afghanistan              38.2           52.0             24.2
1      Albania              97.6           98.4             96.8
2      Algeria              80.2           87.2             73.1
3      Andorra               NaN            NaN              NaN
4       Angola              71.1           82.0             60.7