# jupyter 1차원 자료구성

In [31]:
import pandas as pd
#판다스라이이브러를 불러서 pd명령으로 짧게 호출할 수 있게 정의

# 1. 1차원 데이터

## 1월부터 4월까지 강우량 (10, 20, 30, 40)

In [32]:
rain = pd.Series([10, 20, 30, 40])
rain

0    10
1    20
2    30
3    40
dtype: int64

In [33]:
rain[0] # 1월 강우량
# 1차원선언에서는 첫번째 주소가 0, 두번째가 1, 4번째가 3으로 선언

10

In [34]:
rain[2] # 3월 강우량

30

# Index

In [35]:
rain = pd.Series([10, 20, 30, 40], index=['Jan', 'Feb', 'Mar', 'Apr'])
print(rain)

Jan    10
Feb    20
Mar    30
Apr    40
dtype: int64

In [36]:
rain

Jan    10
Feb    20
Mar    30
Apr    40
dtype: int64

In [37]:
rain['Jan'] # Index Jan (1월) 에 해당하는 데이터 출력

10

In [38]:
rain['Apr'] # Index Apr (4월) 에 해당하는 데이터 출력

40