# 2. 2차원 데이터(DataFrame)

## 일반적으로 데이터는 행과 열로 구현 되고 python은 Pandas라는 라이브러리를 사용하여 

## 행열로 구현된 데이터 셋을 만들어 처리하는데 이를 DataFrame이라고 함

## Data 입력(전국 강수량 및 강수일수)

In [2]:
rain = {
    '연도': [2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021],
    '강수량(mm)' : [600.9, 305.1, 427.5, 146.2, 240.2, 341.1, 296.7, 292.7, 299.7, 696.5, 227.5],
    '강수일수' : [19.1, 13.9, 25.2, 14.7, 17.7, 16.1, 16.9, 10.8, 16.4, 28.5, 9.9]
}
print(rain)

{'연도': [2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021], '강수량(mm)': [600.9, 305.1, 427.5, 146.2, 240.2, 341.1, 296.7, 292.7, 299.7, 696.5, 227.5], '강수일수': [19.1, 13.9, 25.2, 14.7, 17.7, 16.1, 16.9, 10.8, 16.4, 28.5, 9.9]}

In [3]:
rain['연도']

[2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021]

In [4]:
rain['강수일수']

[19.1, 13.9, 25.2, 14.7, 17.7, 16.1, 16.9, 10.8, 16.4, 28.5, 9.9]

## DataFrame 객체 생성

In [5]:
import pandas as pd
df = pd.DataFrame(rain)

In [6]:
df

      연도  강수량(mm)  강수일수
0   2011    600.9  19.1
1   2012    305.1  13.9
2   2013    427.5  25.2
3   2014    146.2  14.7
4   2015    240.2  17.7
5   2016    341.1  16.1
6   2017    296.7  16.9
7   2018    292.7  10.8
8   2019    299.7  16.4
9   2020    696.5  28.5
10  2021    227.5   9.9

## 데이터 접근

In [7]:
df['연도']

0     2011
1     2012
2     2013
3     2014
4     2015
5     2016
6     2017
7     2018
8     2019
9     2020
10    2021
Name: 연도, dtype: int64

In [8]:
df['강수량(mm)']

0     600.9
1     305.1
2     427.5
3     146.2
4     240.2
5     341.1
6     296.7
7     292.7
8     299.7
9     696.5
10    227.5
Name: 강수량(mm), dtype: float64

In [10]:
df[['연도', '강수량(mm)', '강수일수']]

      연도  강수량(mm)  강수일수
0   2011    600.9  19.1
1   2012    305.1  13.9
2   2013    427.5  25.2
3   2014    146.2  14.7
4   2015    240.2  17.7
5   2016    341.1  16.1
6   2017    296.7  16.9
7   2018    292.7  10.8
8   2019    299.7  16.4
9   2020    696.5  28.5
10  2021    227.5   9.9

## DataFrame 객체 생성 (Index 지정)

In [18]:
df = pd.DataFrame(rain, index=['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11'])
df

      연도  강수량(mm)  강수일수
1   2011    600.9  19.1
2   2012    305.1  13.9
3   2013    427.5  25.2
4   2014    146.2  14.7
5   2015    240.2  17.7
6   2016    341.1  16.1
7   2017    296.7  16.9
8   2018    292.7  10.8
9   2019    299.7  16.4
10  2020    696.5  28.5
11  2021    227.5   9.9

## DataFrame 객체 생성 (Column 지정)
data 중에서 원하는 column 만 선택하거나, 순서 변경 가능

In [19]:
df = pd.DataFrame(rain, columns=['연도', '강수량(mm)', '강수일수'])
df

      연도  강수량(mm)  강수일수
0   2011    600.9  19.1
1   2012    305.1  13.9
2   2013    427.5  25.2
3   2014    146.2  14.7
4   2015    240.2  17.7
5   2016    341.1  16.1
6   2017    296.7  16.9
7   2018    292.7  10.8
8   2019    299.7  16.4
9   2020    696.5  28.5
10  2021    227.5   9.9

In [20]:
df = pd.DataFrame(rain, columns=['연도', '강수일수','강수량(mm)'])
df

      연도  강수일수  강수량(mm)
0   2011  19.1    600.9
1   2012  13.9    305.1
2   2013  25.2    427.5
3   2014  14.7    146.2
4   2015  17.7    240.2
5   2016  16.1    341.1
6   2017  16.9    296.7
7   2018  10.8    292.7
8   2019  16.4    299.7
9   2020  28.5    696.5
10  2021   9.9    227.5