# 데이터 체크 방법

In [1]:
import pandas as pd
df = pd.read_excel('rain.xlsx', index_col='연도')
df

      강수량(mm)  강수일수
연도
2011    600.9  19.1
2012    305.1  13.9
2013    427.5  25.2
2014    146.2  14.7
2015    240.2  17.7
2016    341.1  16.1
2017    296.7  16.9
2018    292.7  10.8
2019    299.7  16.4
2020    696.5  28.5
2021    227.5   9.9

## DataFrame 확인
계산 가능한 데이터에 대해 Column 별로 데이터의 갯수, 평균, 표준편차, 최소/최대값 등의 정보를 보여줌

In [2]:
df.describe()

              연도.1     강수량(mm)       강수일수
count    11.000000   11.000000  11.000000
mean   2016.000000  352.190909  17.200000
std       3.316625  163.802542   5.557697
min    2011.000000  146.200000   9.900000
25%    2013.500000  266.450000  14.300000
50%    2016.000000  299.700000  16.400000
75%    2018.500000  384.300000  18.400000
max    2021.000000  696.500000  28.500000

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11 entries, 1 to 11
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   연도.1     11 non-null     int64
 1   강수량(mm)  11 non-null     float64
 2   강수일수     11 non-null     float64
dtypes: float64(2), int64(1)
memory usage: 352.0 bytes

In [4]:
df.head() # 처음 5개의 row 를 가져옴

    연도.1  강수량(mm)  강수일수
연도
1   2011    600.9  19.1
2   2012    305.1  13.9
3   2013    427.5  25.2
4   2014    146.2  14.7
5   2015    240.2  17.7

In [5]:
df.head(7) # 처음 7개의 row 를 가져옴

    연도.1  강수량(mm)  강수일수
연도
1   2011    600.9  19.1
2   2012    305.1  13.9
3   2013    427.5  25.2
4   2014    146.2  14.7
5   2015    240.2  17.7
6   2016    341.1  16.1
7   2017    296.7  16.9

In [6]:
df.tail() # 마지막 5개 row 를 가져옴

    연도.1  강수량(mm)  강수일수
연도
7   2017    296.7  16.9
8   2018    292.7  10.8
9   2019    299.7  16.4
10  2020    696.5  28.5
11  2021    227.5   9.9

In [7]:
df.tail(3) # 마지막 3개 row 를 가져옴

    연도.1  강수량(mm)  강수일수
연도
9   2019    299.7  16.4
10  2020    696.5  28.5
11  2021    227.5   9.9

In [8]:
df.values

array([[2011. ,  600.9,   19.1],
       [2012. ,  305.1,   13.9],
       [2013. ,  427.5,   25.2],
       [2014. ,  146.2,   14.7],
       [2015. ,  240.2,   17.7],
       [2016. ,  341.1,   16.1],
       [2017. ,  296.7,   16.9],
       [2018. ,  292.7,   10.8],
       [2019. ,  299.7,   16.4],
       [2020. ,  696.5,   28.5],
       [2021. ,  227.5,    9.9]])

In [9]:
df.index

Int64Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], dtype='int64', name='연도')

In [10]:
df.columns

Index(['연도.1', '강수량(mm)', '강수일수'], dtype='object')

In [11]:
df.shape # row, column

(11, 3)

In [17]:
df

    연도.1  강수량(mm)  강수일수
연도
1   2011    600.9  19.1
2   2012    305.1  13.9
3   2013    427.5  25.2
4   2014    146.2  14.7
5   2015    240.2  17.7
6   2016    341.1  16.1
7   2017    296.7  16.9
8   2018    292.7  10.8
9   2019    299.7  16.4
10  2020    696.5  28.5
11  2021    227.5   9.9

## Series 확인

In [18]:
df['강수량(mm)'].describe()

count     11.000000
mean     352.190909
std      163.802542
min      146.200000
25%      266.450000
50%      299.700000
75%      384.300000
max      696.500000
Name: 강수량(mm), dtype: float64

In [19]:
df['강수량(mm)'].min()

146.2

In [20]:
df['강수량(mm)'].max()

696.5

In [21]:
df['강수량(mm)'].nlargest(3) # 비 많이 온 순서대로 3년의 데이터

연도
10    696.5
1     600.9
3     427.5
Name: 강수량(mm), dtype: float64

In [22]:
df['강수량(mm)'].mean()

352.19090909090903

In [23]:
df['강수량(mm)'].sum()

3874.0999999999995

In [24]:
df['강수일수'].count()

11

In [25]:
df['강수일수'].unique()

array([19.1, 13.9, 25.2, 14.7, 17.7, 16.1, 16.9, 10.8, 16.4, 28.5,  9.9])

In [26]:
df['강수일수'].nunique()

11